@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper, IList<HotNews.Core.Objects.Tag> tags)
{
foreach (var tag in tags)
{
        <div class="tags-div">@HotNews.ActionLinkExtensions.TagLink(htmlHelper, tag)</div>
}
}
