
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Server error</title>
</head>
<body>
    <div>
        From the Developers : Sorry, some server error has occured.
        Please for your patience.
        Από την Ομάδα Ανάπτυξης: Συγνώμη, αλλά Κάποιο Σφάλμα στον Server έγινε.
        Παρακαλούμε για την υπομονή σας.
    </div>
</body>
</html>