
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resource not found</title>
</head>
<body>
    <div>
        From the Developers: Sorry, the resource you are looking for has not been found.
        Please for your patience.
        Από την Ομάδα Ανάπτυξης: Συγνώμη, αλλά το αντικείμενο που ζητάτε δεν βρέθηκε.
        Παρακαλούμε για την υπομονή σας.
    </div>
</body>
</html>